body {
  margin: 0;
  background-color: #14122d;
  font-family: Roboto;
}

.nativeDatePicker {
  margin: 5% auto;
  text-align: center;
  width: 500px;
  height: 800px;
  background-color: #14122d;
  color: white;
}

.button {
  margin-left: 5%;
  border: none;
  background-color: white;
  color: black;
  border: 2px solid #008cba;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}
.button:hover {
  background-color: #008cba;
  color: white;
}
img {
  width: 500px;
  height: 600px;
  border-radius: 15%;
}
