body {
  justify-content: center;
  margin: 0;
  font-size: 1rem;
  display: flex;
  flex: 1;
  overflow: hidden; /*prevent page to scroll, remove browser scroll bar*/
  min-height: 80vh;
  align-items: center;
  background: linear-gradient(to left, rgb(125, 41, 221), rgb(224, 248, 137));
  font-family: Roboto, sans-serif;
  background: url(horo.jpg);

  background-size: cover;
}

.nativeDatePicker {
  margin-top: 1.5%;
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 500px;
  background: rgba(0, 0, 0, 35%);
  border-radius: 15%;
  color: white;
}
.topsec {
  width: 300px;
  height: 400px;
  margin: auto;
}

.button {
  margin-left: 5%;
  border: none;
  background-color: white;
  color: black;
  border: 2px solid #008cba;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}
.button:hover {
  background-color: #008cba;
  color: white;
}
.result {
  color: lightpink;
  text-transform: capitalize;
}
.pic {
  width: auto;
  height: auto;
  border-radius: 15%;
}
